@media (min-width: 700px){
.q-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:18px;
   
}
body{
    overflow-x: hidden;
}

.q-hero h1 img{
    margin-right: 25px;
}
.logo{
 margin:12px;
   height: 46px;
}
.logoStyle{
    height:46px;
}

.ancre{
    height:50px;
}
.container h1 span {
    font-size:2.3rem;
    
}
.colunm-client{
 
    align-items: center;
}
}