@media (min-width: 700px){
.q-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
   
}
.q-hero h1{
    font-size:34px;
}
body{
    overflow-x: hidden;
}

.q-hero h1 img{
    margin-right: 25px;
}
.logo{
 margin:12px;
   height: 46px;
}
.logoStyle{
    height:46px;
}
.article1{
    height:50%;
}
.article2{
    height: 50%;
}
.article1 h2{
    font-size:32px;
    color:white;
}
.article1 p{
    color:white;
    font-size: 16px;
}
.btn{
    font-size: 18px;
}
.ancre{
    height:50px;
}
.container h1 span {
    font-size:2.3rem;
    
}
.colunm-client{
 
    align-items: center;
}
}