@media (min-width: 700px){
.q-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
   
}
.q-hero h1{
    font-size:34px;
}
body{
    overflow-x: hidden;
}

.q-hero h1 img{
    margin-right: 25px;
}
.logo{
 margin:12px;
   height: 46px;
}
.logoStyle{
    height:46px;
}
.article1{
    height:50%;
}
.article2{
    height: 50%;
}
.buttons .article1 h2{
    font-size:32px;
    color:white;
}
.buttons .article1 p{
    color:white;
    font-size: 16px;
}
.buttons .btn{
    font-size: 18px;
}

.containers .container1{
    width:50%;
    text-align: center;
    font-size: 18px;
}
.container .slide h1{
    font-size: 36px;
}
.containers .container2{
    background:none;
}
.containers .container3{
    background:none;
}
.container2 img{
    

    width: 100%;
    height: 100%;
    margin: 0px;

    transform: translate(50%,0%);
   

}

.slide .img-huitre{
    height: 138px;
}
.ancre{
    height:50px;
}
.container h1 span {
    font-size:2.3rem;
    
}



}